---
layout: layouts/base.njk
title: Why SEO?
templateClass: tmpl-post
eleventyNavigation:
  key: SEO Shorts
  order: 3
---

<p class = "txt-center">Here is a collection of quick reads and code snippets purely focussed on marketing and SEO</p>
